* {
  margin: 0;
  color: white;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.main {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
}
.Link {
  height: 100%;
  width: 100%;
  color: inherit;
  display: inherit;
  align-items: inherit;
  text-decoration: none;
}
.page-label {
  font-size: 20px;
  text-transform: uppercase;
}
.num {
  color: #8c91a4;
  margin-right: 3px;
}

@media (max-width: 800px) {
  .main {
    background-attachment: fixed;
    height: auto;
  }
}

@media (max-width: 450px) {
  .main {
    background-attachment: fixed;
    height: auto;
  }
}
